body {
  padding: 40px;
}

.slider {
  &_vertical {
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 500px;
  }

  &_horizontal {
    width: 100%;
  }

  &__strip {
    position: relative;
    background: red;
    cursor: pointer;
  }

  &_vertical &__strip {
    margin-right: 40px;
    width: 20px;
  }

  &_horizontal &__strip {
    margin-bottom: 40px;
    height: 20px;
  }


  &__tip {
    position: absolute;
    text-align: center;
    border: 1px solid black;
    padding: 2px;

    &_hidden {
      visibility: hidden;
    }
  }


  &_vertical &__tip {
    right: 100%;
    margin-right: 10px;
  }


  &_horizontal &__tip {
    bottom: 100%;
    margin-bottom: 10px;
  }

  &__runner {
    position: absolute;
    z-index: 1;
    background: black;
    border-radius: 100%;
    border: 5px solid red;
  }

  &_vertical &__runner {
    width: 100%;
    height: 20px;
    left: -5px;
  }

  &_horizontal &__runner {
    height: 100%;
    width: 20px;
    top: -5px;
  }


  &__range {
    position: absolute;
    background: #691A1A;
  }

  &_vertical &__range {
    width: 100%;
  }

  &_horizontal &__range {
    height: 100%;
  }


  &__scale {
    position: relative;
  }

  &_vertical &__scale {
    min-width: 30px;
  }

  &_horizontal &__scale {
    min-height: 30px;
  }

  &__scale-subelement {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
  }

  &_vertical &__scale-subelement {
    padding: 5px 5px;
  }

  &_horizontal &__scale-subelement {
    height: 100%;
    padding: 0 5px;
  }
}
