.slider {
    padding: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.slider_vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    min-height: 500px
}

.slider_horizontal {
    width: 100%
}

.slider__strip {
    position: relative;
    background: red;
    cursor: pointer
}

.slider_vertical .slider__strip {
    margin-right: 40px;
    width: 20px
}

.slider_horizontal .slider__strip {
    margin-bottom: 40px;
    height: 20px
}

.slider__tip {
    position: absolute;
    text-align: center;
    border: 1px solid #000;
    padding: 2px
}

.slider__tip_hidden {
    visibility: hidden
}

.slider_vertical .slider__tip {
    right: 100%;
    margin-right: 10px
}

.slider_horizontal .slider__tip {
    bottom: 100%;
    margin-bottom: 10px
}

.slider__runner {
    position: absolute;
    z-index: 1;
    background: #000;
    border-radius: 100%;
    border: 5px solid red
}

.slider__runner_current {
    z-index: 2
}

.slider_vertical .slider__runner {
    width: 100%;
    height: 20px;
    left: -5px
}

.slider_horizontal .slider__runner {
    height: 100%;
    width: 20px;
    top: -5px
}

.slider__range {
    position: absolute;
    background: #691a1a
}

.slider_vertical .slider__range {
    width: 100%
}

.slider_horizontal .slider__range {
    height: 100%
}

.slider__scale {
    position: relative
}

.slider_vertical .slider__scale {
    min-width: 30px
}

.slider_horizontal .slider__scale {
    min-height: 30px
}

.slider__scale-subelement {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #000;
    cursor: pointer
}

.slider_vertical .slider__scale-subelement {
    padding: 5px
}

.slider_horizontal .slider__scale-subelement {
    height: 100%;
    padding: 0 5px
}